<%= form_with(model: blog_post) do |form| %>
  <% if blog_post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(blog_post.errors.count, "error") %> prohibited this blog_post from being saved:</h2>

      <ul>
      <% blog_post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :title, class: 'form-label' %>
      <%= form.text_field :title, class: 'form-control' %>
    </div>

  <div class="mb-3">
    <%= form.label :author, class: 'form-label' %>
      <%= form.text_field :author, class: 'form-control' %>
    </div>

  <div class="mb-3">
    <% if blog_post.persisted? %>
      <div class="float-end">
        <%= link_to 'Destroy', blog_post, method: :delete, class: "text-danger", data: { confirm: 'Are you sure?' } %>
      </div>
    <% end %>

    <%= form.submit class: 'btn btn-primary' %>

    <% if blog_post.persisted? %>
      <%= link_to "Cancel", blog_post, class: "btn btn-link" %>
    <% else %>
      <%= link_to "Cancel", blog_posts_path, class: "btn btn-link" %>
    <% end %>
  </div>
<% end %>
