<div id="<%= dom_id project %>">
  <p>
    <strong>Name:</strong>
    <%= project.name %>
  </p>

  <p>
    <strong>Url:</strong>
    <%= project.url %>
  </p>

  <p>
    <strong>Github:</strong>
    <%= project.github %>
  </p>

  <p>
    <strong>Languages:</strong>
    <%= project.languages %>
  </p>

  <p>
    <strong>Framework:</strong>
    <%= project.framework %>
  </p>

</div>
