<div class="page-header items-center">
  
  
  <h1 class="text-center"><%= @project.title %></h1>
  <hr/>
  <%= image_tag @project.screenshot, :style => "max-width: 80vw", class: "mx-auto d-block" %>
  <hr/>
</div>
<div class="text-center">
  <h6>Languages: <%= @project.languages %></h6>
  <h6>Framework: <%= @project.framework %></h6>
  <p><%= @project.description %></p>
  <div class="col text-right">
    <a href="<%= @project.url %>" class="btn btn-info">View site</a>
    <a href="<%= @project.github %>" class="btn btn-secondary">View code</a>
      <%= link_to "Back To All Projects", projects_path, class: 'btn btn-success'%>

  </div>
</div>
<hr/>
<%= commontator_thread(@project) %>
<hr/>

